<%- include("_header") -%>

<h1>책 찾기 (<%= model.length %>권)</h1>


<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>제목</th>
        <th>저자</th>
        <th>장르</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">추가</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const book of model) { %>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.genre %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= book.id %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= book.id %>">Delete</div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>



<%- include("_footer") -%>
