<%- include("_header") -%>

<h3>오늘의 애니</h3>

<div>


<!-- Slideshow container -->
<div class="slideshow-container">
  <img src="https://thumbnail.laftel.net/items/full/e2164366-9de2-4db2-8951-d5843c6bbfb9.jpg?w=380&c=0%2C277%2C1023%2C853&webp=0" style="width:100%">
  <% for(var i = 0; i < data; i++) { %>
    <div class="mySlides jb-box">
      <div class="numbertext"> <%= i+1 %> / <%= data %></div>
      <a href="https://laftel.net/search?keyword=<%= value[i] %>" target="_blank"><img src="<%= img_src[i] %>" style="width:100%"></a>
      <div class="text"></div>
    </div>
  <% } %>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <% for(var i = 0; i < data; i++) { %>
    <span class="dot" onclick="currentSlide(i+1)"></span>
  <% } %>
</div>
<script src="views/JS/app.js"></script>
</div>


<%- include("_footer") -%>